.digital-wrapper {
    width: 100%;
    height: 200px;
    background-color: darkblue;
}

.digital-one {
    width: 100px;
    height: 100px;
    background-color: black;
    display: flex;
    flex-direction: column;

    .top {
        width: 10px;
        height: 50px;
        background-color: cyan;
        margin: auto;
        border-radius: 75px 50px 50px 75px;
        margin-top: 5px;
    }

    .spacer {
        height: 5px;
    }

    .bottom {
        width: 10px;
        height: 50px;
        background-color: cyan;
        margin: auto;
        border-radius: 75px 50px 50px 75px;
        margin-bottom: 5px;
    }
}