.digital-wrapper {
    width: 100%;
    height: 200px;
    background-color: darkblue;
}

.digital-one,
.digital-two,
.digital-three {
    width: 100px;
    height: 175px;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.digital-one {
    .top,
    .bottom {
        border-right: 10px solid cyan;
        border-top: 10px solid transparent;
        height: 50px;
        border-bottom: 10px solid transparent;
        width: 10px;
        margin-left: auto;
    }

    .top {
        margin-top: 5px;
    }

    .spacer {
        height: 2px;
    }

    .bottom {
        margin-bottom: 5px;
    }
}

.digital-two,
.digital-three {
    .top-half {
        .top {
            border-top: 10px solid cyan;
            border-left: 10px solid transparent;
            height: 0;
            border-right: 10px solid transparent;
        }
        .right {
            border-right: 10px solid cyan;
            border-top: 10px solid transparent;
            height: 50px;
            border-bottom: 10px solid transparent;
            width: 10px;
            margin-left: auto;
        }
    }

    .center-top {
        border-bottom: 5px solid cyan;
        border-left: 10px solid transparent;
        height: 0;
        border-right: 10px solid transparent;

    }

    .center-bottom {
            border-top: 5px solid cyan;
            border-left: 10px solid transparent;
            height: 0;
            border-right: 10px solid transparent;
    }

    .bottom-half {
        .left {
            border-left: 10px solid cyan;
            border-top: 10px solid transparent;
            height: 50px;
            border-bottom: 10px solid transparent;
        }
        .bottom {
            border-bottom: 10px solid cyan;
            border-left: 10px solid transparent;
            height: 0;
            border-right: 10px solid transparent;
        }
    }
}

.digital-three {
    .bottom-half {
        .right {
            border-right: 10px solid cyan;
            border-top: 10px solid transparent;
            height: 50px;
            border-bottom: 10px solid transparent;
            width: 10px;
            margin-left: auto;
        }
    }
}