.digital-wrapper {
    width: 100%;
    height: 200px;
    background-color: black;
}

.digital-one,
.digital-two,
.digital-three,
.digital-four,
.digital-five,
.digital-six,
.digital-seven,
.digital-eight,
.digital-nine,
.digital-zero {
    width: 100px;
    height: 200px;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: auto;
    
}

.digital-one {
    .top,
    .bottom {
        border-right: 10px solid cyan;
        border-top: 10px solid transparent;
        height: 50px;
        border-bottom: 10px solid transparent;
        width: 10px;
        margin-left: auto;
    }

    .top {
        margin-top: 5px;
    }

    .spacer {
        height: 2px;
    }

    .bottom {
        margin-bottom: 5px;
    }
}

.digital-two,
.digital-three,
.digital-four,
.digital-five,
.digital-six,
.digial-seven,
.digitial-eight {
    .top-half {
        .top {
            border-top: 10px solid cyan;
            border-left: 10px solid transparent;
            height: 0;
            border-right: 10px solid transparent;
        }
        .right {
            border-right: 10px solid cyan;
            border-top: 10px solid transparent;
            height: 50px;
            border-bottom: 10px solid transparent;
            width: 10px;
            margin-left: auto;
        }
    }

    .center-top {
        border-bottom: 5px solid cyan;
        border-left: 10px solid transparent;
        height: 0;
        border-right: 10px solid transparent;

    }

    .center-bottom {
            border-top: 5px solid cyan;
            border-left: 10px solid transparent;
            height: 0;
            border-right: 10px solid transparent;
    }

    .bottom-half {
        .left {
            border-left: 10px solid cyan;
            border-top: 10px solid transparent;
            height: 50px;
            border-bottom: 10px solid transparent;
        }
        .bottom {
            border-bottom: 10px solid cyan;
            border-left: 10px solid transparent;
            height: 0;
            border-right: 10px solid transparent;
        }
    }
}

.digital-three {
    .bottom-half {
        .right {
            border-right: 10px solid cyan;
            border-top: 10px solid transparent;
            height: 50px;
            border-bottom: 10px solid transparent;
            width: 10px;
            margin-left: auto;
        }
    }
}

.digital-four {
    .top-half {
        display: flex;
        .left {
            border-left: 10px solid cyan;
            border-top: 10px solid transparent;
            height: 50px;
            border-bottom: 10px solid transparent;
        }
        .right {
            border-right: 10px solid cyan;
            border-top: 10px solid transparent;
            height: 50px;
            border-bottom: 10px solid transparent;
            width: 10px;
            margin-left: auto;
        }
    }
    .bottom-half {
        .right {
            border-right: 10px solid cyan;
            border-top: 10px solid transparent;
            height: 50px;
            border-bottom: 10px solid transparent;
            width: 10px;
            margin-left: auto;
        }
    }
}

.digital-five {
    .top-half {
        .left {
            border-left: 10px solid cyan;
            border-top: 10px solid transparent;
            height: 50px;
            border-bottom: 10px solid transparent;
        }
    }
    .bottom-half {
        .right {
            border-right: 10px solid cyan;
            border-top: 10px solid transparent;
            height: 50px;
            border-bottom: 10px solid transparent;
            width: 10px;
            margin-left: auto;
        }
    }
}

.digital-six {
    .top-half {
        .left {
            border-left: 10px solid cyan;
            border-top: 10px solid transparent;
            height: 50px;
            border-bottom: 10px solid transparent;
        }
    }
    .bottom-half {
        .left-and-right {
            display: flex;
            .left {
                border-left: 10px solid cyan;
                border-top: 10px solid transparent;
                height: 50px;
                border-bottom: 10px solid transparent;
            }
            .right {
                border-right: 10px solid cyan;
                border-top: 10px solid transparent;
                height: 50px;
                border-bottom: 10px solid transparent;
                width: 10px;
                margin-left: auto;
            }
        }
    }
}

.digital-seven {
    .top-half {
        .top {
            border-top: 10px solid cyan;
            border-left: 10px solid transparent;
            height: 0;
            border-right: 10px solid transparent;
        }
        .right {
            border-right: 10px solid cyan;
            border-top: 10px solid transparent;
            height: 50px;
            border-bottom: 10px solid transparent;
            width: 10px;
            margin-left: auto;
        }
    }
    .bottom-half {
        .right {
            border-right: 10px solid cyan;
            border-top: 10px solid transparent;
            height: 50px;
            border-bottom: 10px solid transparent;
            width: 10px;
            margin-left: auto;
        }
    }
}

.digital-eight,
.digital-nine,
.digital-zero {
    .left-and-right {
        display: flex;
        .left {
            border-left: 10px solid cyan;
            border-top: 10px solid transparent;
            height: 50px;
            border-bottom: 10px solid transparent;
        }
        .right {
            border-right: 10px solid cyan;
            border-top: 10px solid transparent;
            height: 50px;
            border-bottom: 10px solid transparent;
            width: 10px;
            margin-left: auto;
        }
    }
    .center-top {
        border-bottom: 5px solid cyan;
        border-left: 10px solid transparent;
        height: 0;
        border-right: 10px solid transparent;

    }

    .center-bottom {
            border-top: 5px solid cyan;
            border-left: 10px solid transparent;
            height: 0;
            border-right: 10px solid transparent;
    }
    .top-half {
        .top {
            border-top: 10px solid cyan;
            border-left: 10px solid transparent;
            height: 0;
            border-right: 10px solid transparent;
        }
        .left {
            border-left: 10px solid cyan;
            border-top: 10px solid transparent;
            height: 50px;
            border-bottom: 10px solid transparent;
        }
    }
    .bottom-half {
        .bottom {
            border-bottom: 10px solid cyan;
            border-left: 10px solid transparent;
            height: 0;
            border-right: 10px solid transparent;
        }
        .left-and-right {
            display: flex;
            .left {
                border-left: 10px solid cyan;
                border-top: 10px solid transparent;
                height: 50px;
                border-bottom: 10px solid transparent;
            }
            .right {
                border-right: 10px solid cyan;
                border-top: 10px solid transparent;
                height: 50px;
                border-bottom: 10px solid transparent;
                width: 10px;
                margin-left: auto;
            }
        }
    }
}

.digital-nine {
    .bottom-half {
        .right {
            border-right: 10px solid cyan;
            border-top: 10px solid transparent;
            height: 50px;
            border-bottom: 10px solid transparent;
            width: 10px;
            margin-left: auto;
        }
    }
}

.digital-zero {

}